/node_modules
/public_html
/config/app_products.php
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.phar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig.sublime-workspace